.ltag__steam-iframe {
  display: block;
  width: 100%;
  background-color: var(--card-bg);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  body:not(.light-theme) .ltag__steam-iframe {
    color-scheme: dark;
  }
}

body.dark-theme .ltag__steam-iframe {
  color-scheme: auto;
}

body.light-theme .ltag__steam-iframe {
  color-scheme: auto;
}
